httpx
Pillow
python_telegram_bot
loguru
asyncio
python-telegram-bot
cryptocompare
AsyncIOScheduler
APScheduler
schedulers
apscheduler
flask
aiogram==2.23.1
pyrogram
pygram
Poetry
gunicorn
keep-alive
python-telegram-bot==20.1
loguru==0.7.0
Flask==2.3.2
